html, body {
    height: 300px;
    width: 700px;
    font-family: 'Space Grotesk';
    /*background-color: rgba(250, 250, 250, 0.61);*/
    margin: 0;
    padding: 0;
}
.page-top {
    display: inline-block;
}
#title {
    position: fixed;
    top: 10px;
    left: 20px;
    font-weight: 1;
    
}
#nav {
    position: fixed;
    top: 20px;
    right: 0;
    padding: 10px;
  }
  
.banner {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 10px;
    z-index: 101;
    box-shadow: 2px 1px 15px rgb(184, 184, 184);
}
#home, #about, #contact, #gallery{
    border-left: solid;
    border-color: mediumorchid;
    padding-left: 5px;
    margin-left: 15px;
    text-decoration: none;
    color: black;
}
#about{
    color: mediumvioletred;
}
#home:hover{
    color: mediumvioletred;
    border-color: #778899;
}
#about:hover{
    color: mediumvioletred;
    border-color: #778899;
}
#contact:hover{
    color: mediumvioletred;
    border-color: #778899;
}
#gallery:hover{
    color: mediumvioletred;
    border-color: #778899;
}
#disclaimer {
    text-align: center;
    width: fit-content;
    position: relative;
    bottom: 0;
    left: 320px;
    color: rgb(40, 40, 40);
}
#text{
    position: relative;
    top: 110px;
    left: 300px;
    text-align: center;
}
#whyy{
    width: 350px;
    text-align: ledt;
    position: relative;
    top: 140px;
    left: 190px;
    border-left: solid mediumorchid;
    padding-left: 5px;
    border-width: 3px;
}
#teamTitle{
    position: relative;
    border-left: solid;
    border-color: mediumorchid;
    border-width: 3px;
    padding-left: 5px;
    left: 650px;
    top: -120px;

}

.photo{
    border-radius: 100%;
    width: 50px;
    height: 50px;
}